# Ignore everything by default
*

# Exceptions
!theme_guapante/
!theme_guapante/**
!.gitignore
!README.md
!.agent/
!.agent/**
!.cursorrules
!insotech_core/
!insotech_core/**
!insotech_dian_wizard/
!insotech_dian_wizard/**

# Always ignore compiled Python files
__pycache__/
*.pyc
